@paneBackgroundColor: white;
@paneBorderColor:#DDDDDD;
@dashboardScrollBarColor: #3F51B5;
@viewBackgroundColor: #F4F5F6;

#content {
  overflow: hidden;
  background-color: @viewBackgroundColor;
}
.scroll-wrapper {
  overflow-x: scroll;
  padding: 10px;
  overflow-x: visible;
  bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;;
}
